input, label {
    font-size: 24px;
}

label {
    text-align: right;
    padding: 10px;
}

table {
    border-collapse: separate; 
    border-spacing: 0 20px; 
}

button {
    border-radius: 12px;
    background-color: #e7e7e7; 
    color: black;
    padding: 10px 24px;
    font-size: 16px;
    margin: 20px 20px;
    border: none;
}

.buttonHorizontal {
    position: relative;
    left: -10%;
}